@charset "utf-8";

@keyframes scale {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes article_hover {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

/* Reset CSS */
* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none; color: #000; }
img { border: 0; }
body { font: 12px 'Noto Serif KR'; color: #000;
	/* background image 1000 x 667 */
	background: url('../img/background.jpg');
	background-size: 1580px;
}

/* -----------------------------------------------------------------layout------------------------------------------------------------------ */
/* header */
header {
    position: fixed;
    border-right: 3px solid #000;
    width: 180px;
    height: auto;
    padding: 0 10px;
    background: #fff;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.5s;
}

#logo {
    text-align: center;
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user_block {
    height: 200px;
    border: thin solid black;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.user_do {
    margin-top: 3px;
    margin-left: 5px;
    height: 40px;
}

.user_do div {
    display: inline-block;
    font-size: 15px;
    width: 80px;
    height: 30px;
    padding-top: 5px;
    border-bottom: thin solid black;
    text-align: center;
}

.user_info {
	font-size: 14px;
}

.searchbar {
    margin-top: 30px;
    margin-bottom: 10px;
}

.menu_group {
    width: 180px; 
}

.menu_group a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 20px;
    padding-left: 18px;
}
  
.menu_group a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.sns_group {
    font-size: 30px;
    margin-top: 110px;
    margin-left: 40px;
}

/* section */
section {
    position: relative;
    margin-left: 205px;
    padding-top: 2%;
}

article {
    border: 2px solid #000;
    margin: 3px;
    background-color: #fff;
    /* data들어오기전 */
    /* padding-top: 30px; */
    box-sizing: border-box;
}

article.article_block {
    float: left;
    width: 28%;
    height: 300px;
    animation: scale 1s 1;
    opacity: 0.8;
    transform: scale(1.0);
    transition: 0.5s;
    color: #000000;
    padding: 10px;
}

article span.article_subject {
	font-size: 34px;
	position: absolute;
	left: 10px;
	top: 10px;
	opacity: 1.0;
}

article span.article_id {
	font-size: 20px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 1.0;
}

article.article_block:hover {
    opacity: 1.0;
    transform: scale(1.1);
    /* animation: article_hover 0.5s 1; */
}

article.article_top {
    margin-top: 70px;
}

article.member_block {
    float: right;
    width: 38%;
    height: 680px;
    margin-right: 20px;
}

article.member_block input{
    width: 150px;
}

article.member_block h3{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.welcome_block {
	font-size: 32px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.error_block {
	font-size: 24px;
	font-weight: bold;
	color: red;
	text-align: center;
	margin-bottom: 20px;
}

.info_block {
	font-size: 24px;
	font-weight: bold;
	color: blue;
	text-align: center;
	margin-bottom: 20px;
}

article form.login_form {
	padding-left: 40px;
}

article form.signup_form {
	padding-left: 40px;
}

article.member_block .login_block {
	font-size: 18px;
	width: 300px;
	height:160px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom:40px;
}

article.member_block .signup_block {
	font-size: 18px;
	width: 400px;
	height:240px;
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.submit_btn {
	display: table; margin-left: auto; margin-right: auto; /* centered */
	margin-top: 20px;
}


